/* Import variables */


/* Import header */
.header {

  color: @primaryColor;
}

/* Import body */
/* Import inner a import */
.world-is-primary-color {
  border: solid 1px @primaryColor;
}


.dinamic-mixin {
  border: solid @primaryColor 2px;
}

body {
  color: @primaryColor;
}

.content {

  
  .dinamic-mixin;
}


.you {

  .they {
    color: @primaryColor;
  }
}

/* Import footer */
.footer {

  color: @primaryColor;
}

/* Styles in same file */
.main-style {
  color: multiply(@primaryColor, #eeeeee);
}