/* Import inner a import */
@import "body-secondary.less";

.static-mixin {
  overflow-x: hidden;
}

.dinamic-mixin {
  border: solid @primaryColor 2px;
}

body {
  color: @primaryColor;
}

.content {
  width: 100%;
  background-color: #dddddd;
  .static-mixin;
  .dinamic-mixin;
}

.content2 #apple .yeah > .you-got-this,
.people-save-people {
  color: red;
  .really-not-in-build {
    font-size: 16px;
  }
}

.you {
  color: blue;
  .they {
    color: @primaryColor;
  }
}